@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Anderson Grotesk";
  src: url("./fonts/AndersonGrotesk-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("./fonts/AndersonGrotesk-Black.otf");
  font-weight: 900;
}
* {
  background-color: #141414;
  color: rgb(221, 221, 221);
  font-family: "Anderson Grotesk";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #2e2e2e;
}
body {
  padding: 0px 30px;
  min-height: 100vh;
}
header {
  border-bottom: 2px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 1em;
  z-index: 4;
}
header p {
  font-family: "Inter", sans-serif;
  color: rgb(179, 179, 179);
  line-height: 1.75em;
  font-size: 18px;
  font-weight: lighter;
}
header h2 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  color: var(--accent-color);
  font-weight: lighter;
}
main {
  padding-top: 25vh;
  text-align: center;
}

main h1 {
  text-transform: uppercase;
  font-size: 25vw;
  letter-spacing: -20px;
  line-height: 0.7em;
  word-break: break-all;
}
main p {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
#second-title-caption {
  color: var(--accent-color);
}
#links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-radius: 15px;
  padding: 10px 0px;
  flex-wrap: wrap;
  gap: 5px;
}
#links a {
  border: 1px solid var(--accent-color);
  border-radius: 33px;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  flex: 1 0 200px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

#projects h2 {
  font-size: 5rem;
  margin: 75px 0px;
  text-transform: uppercase;
}

#projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style-type: none;
}

#projects li {
  flex: 1 0 700px;
  background-color: transparent;
  z-index: 3;
}

#projects img {
  width: 100%;
  border-radius: 33px;
  z-index: 0;
}
#projects h3 {
  font-size: 4rem;
  background-color: transparent;
}
#projects p {
  font-size: 1.3rem;
  color: var(--accent-color);
  background-color: transparent;
}
#projects a {
  display: inline-block;
  text-decoration: none;
  margin: 20px;
}
#canvas {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 724px) {
  main {
    padding-top: 10px;
  }
  main h1 {
    text-align: left;
    font-size: 20rem;
    line-height: 0.8;
  }
  #projects ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
  body {
    padding: 0px 10px;
  }
  main {
    padding-top: 100px;
  }
  main h1 {
    letter-spacing: -10px;
  }
}
