@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #0c0a09;

  --text-primary: #f5f5f4;
  --text-secondary: #a6a09b;

  --badge-background: #005f5a;
  --badge-foreground: #46ecd5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1024px;
  height: 600px;
}

h1 {
  font-size: 48px;
}
h1 + p {
  font-size: 20px;
  margin-top: 5px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aside-about {
  margin-top: 26px;
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.5;
}

.aside-nav {
  list-style-type: none;
  margin-top: 36px;
  text-align: center;
}

.aside-nav li {
  padding: 2rem;
}
.aside-nav a {
  color: var(--text-secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aside-nav a::after {
  content: "";
  margin-top: 16px;
  width: 0px;
  height: 1px;
  background-color: var(--badge-foreground);
  transition: width 300ms;
}

.aside-nav li:hover a {
  color: var(--text-primary);
}

.aside-nav li:hover a::after {
  width: 60%;
}
.active a::after {
  width: 10%;
}

.active a {
  color: var(--text-primary);
}

#social-media {
  margin-top: auto;
  justify-self: flex-end;
}

#social-media img {
  width: 30px;
}

.project {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.project-image {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project-image img {
  width: 225px;
}

.badge-list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 10px;
}

.project-description p {
  line-height: 1.33;
  color: var(--text-secondary);
}

.badge {
  background-color: var(--badge-background);
  color: var(--badge-foreground);
  padding: 5px 16px;
  border-radius: 30px;
  font-size: 14px;
}

.project-description h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
