@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --circle-color: #012033;

  --background: #041a28;
  --background-hover: #0523355f;

  --text-primary: #dff2fe;
  --text-secondary: #99a7b0;

  --badge-background: #052f4a;
  --badge-foreground: #46ecd5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  width: 100vw;
  height: 100vh;
}

#cursor-circle {
  pointer-events: none;
  background-color: var(--circle-color);
  width: 600px;
  height: 600px;
  filter: blur(100px);
  border-radius: 100%;
  position: fixed;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  max-width: 1024px;
  height: 600px;
}

h1 {
  font-size: 48px;
}
h1 + p {
  font-size: 20px;
  margin-top: 5px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aside-about {
  margin-top: 26px;
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.5;
}

.aside-nav {
  list-style-type: none;
  margin-top: 36px;
  text-align: center;
}

.aside-nav li {
  padding: 2rem;
}
.aside-nav a {
  color: var(--text-secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aside-nav a::after {
  content: "";
  margin-top: 16px;
  width: 0px;
  height: 1px;
  background-color: var(--badge-foreground);
  transition: width 300ms;
}

.aside-nav li:hover a {
  color: var(--text-primary);
}

.aside-nav li:hover a::after {
  width: 60%;
}
.active a::after {
  width: 10%;
}

.active a {
  color: var(--text-primary);
}

#social-media {
  margin-top: auto;
  justify-self: flex-end;
}

#social-media img {
  width: 30px;
}

.project {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 200ms, border 200ms;
}

.project:hover {
  background-color: var(--background-hover);
  border: 1px solid var(--badge-background);
}

.project:hover h2 {
  color: var(--badge-foreground);
}

.project-image {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project-image img {
  width: 150px;
  border-radius: 5px;
}

.badge-list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-description p {
  line-height: 1.5;
  color: var(--text-secondary);
  font-size: 14px;
}

.badge {
  background-color: var(--badge-background);
  color: var(--badge-foreground);
  padding: 5px 16px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}

.project-description h2 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}

#more-projects-link {
  color: var(--text-primary);
  text-decoration: none;
  transition: color 200ms;
}
#more-projects-link:hover {
  color: var(--badge-foreground);
}
