@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-1: #0d0d0f93;
  --background-2: #27272a;

  --shadow-1: #09090b;

  --foreground-1: #b3c3d8;
  --foreground-2: #90a1b9;
  --accent-1: #7c86ff;

  --accent-2: #81d83a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--foreground-1);
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: transparent;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  filter: brightness(30%);
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  z-index: -1;
}

#cursor-circle {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 4;

  border-radius: 100%;
  backdrop-filter: brightness(500%);
  pointer-events: none;

  transition: top 100ms, left 100ms;
}

#cursor-dot {
  width: 6px;
  height: 6px;
  position: fixed;
  border-radius: 100%;
  background-color: white;
  pointer-events: none;
  z-index: 4;
}

h2 {
  padding: 2em;
  text-align: center;
  font-family: "Cascadia Code";
  font-weight: normal;
  font-size: 2rem;
}

#landing-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-heading {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#temp_warning {
  letter-spacing: 0px;
  font-size: 0.75rem;
  color: orangered;
}

#landing-heading > h1 {
  font-size: 3.5rem;
  font-family: "Cascadia Code";
  font-weight: normal;
}
#landing-heading > img {
  width: 3.5rem;
  border-radius: 100%;
}

#landing-description {
  margin: 1.5em 0px;
  font-weight: light;
}

#landing-menu {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}
#landing-menu a {
  text-decoration: none;
  font-family: "Cascadia Code";
}

/* projects section */

#projects img {
  width: 100%;
}

#projects ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
}

.project {
  background-color: var(--background-1);
  backdrop-filter: blur(10px);
}

.project:hover {
  background-color: var(--foreground-1);
}

.project:hover .project-description h3,
.project:hover .project-description p {
  color: var(--background-2);
}

.project:hover .project-btn {
  background-color: var(--accent-2);
  color: var(--background-2);
}

.project-description {
  margin: 2rem;
}

.project-description h3 {
  font-family: "Cascadia Code";
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-description p {
  line-height: 1.5em;
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.project-btn {
  background-color: transparent;
  color: var(--accent-2);
  font-family: "Cascadia Code";
  padding: 1em;
  font-size: 1.25rem;
  border: 1px solid var(--accent-2);
}
